@font-face {
    font-family: 'Harabara';
    src: url('Harabara.woff2') format('woff2'),
        url('Harabara.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

